// >>> CONTENIDOS
// =========================
// 1. BREAK POINTS RESPONSIVE
// 2. FUENTES
// 3. HEADER
// 4. CONTENEDORES
// 5. COLORES


// 1. BREAK POINTS RESPONSIVE
//====================================================
//Break point para movil
$width-mobile: 375;
//Break point para hight mobile
$width-hmobile: 600;

//Break point para tablet
$width-tablet: 768;
//Break point para hight tablet
$width-htablet: 1024;

//Break point para desktop
$width-desktop: 1200;
//Break point para hdesktop
$width-hdesktop: 1400;

// 2. FUENTES
//====================================================

// Fuente para los textos de la web
$fuente-textos:"Open Sans", sans-serif;
// Fuente para los titulos y botones
$fuente-titulos:"Montserrat", sans-serif;

$standar-font-size:16;


// 3. HEADER
//====================================================
//Alto del logo que va en la cabecera
$alto-logo: pxrem(35);

// 4. CONTENEDORES
//====================================================
//Ancho máximo del contenedor .max
$ancho-max: pxrem(900);

// 5. COLORES
//====================================================
$color-primario: rgb(13, 33, 141);
$color-negro: #222;
$color-blanco: #fff;