/*
@mixin flexar: Este mixin te permite pasar de un flex-direction: column a row pudiendo elegir el breackpoint y el tamaño de los hijos
	Parametros:
		- $break-point: Te permite indicar el punto donde cambiará de uno a otro.
		- $tamanio: Te permite indicar el tamaño de los hijos.
*/

@mixin flexar ($break-point, $tamanio) {
	display: flex;
	flex-direction: column;
	width: 100%;
	@media screen and (min-width: $break-point){
		flex-direction: row;
		width: $tamanio;
		flex-wrap: wrap;
	}
}
