/*
@fuenteresponsive: Calcula automaticamente con el breakpoint de tablet para hacer las fuentes responsive
	Parametros de entrada:
		- $px: El valor en pixeles del texto en escritorio.
*/

@mixin fuenteresponsive($px){
	$rem: $px/16;

	@if($rem <= 1){}
	@if($rem > 1){

		$divisor: $tablet;

		$convert: $px*100;
		$vw: $convert / $divisor;

		font-size: #{$vw}vw;

		@include tablet{
			font-size:#{$rem}rem;
		}

	}
}