.mwm-boton {
    display: inline-block;
    padding: 1rem;
    font-family: $fuente-titulos;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
	transition: background .2s;
	color: $color-blanco;
}

.btn-accion a{
	@extend .mwm-boton;
	background: $color-primario;
}

.btn-accion a:hover{
	background: darken($color-primario, 10%);
}

.btn-accion-2 a{
	@extend .mwm-boton;
	background: $color-secundario;
}

.btn-accion-2 a:hover{
	background: darken($color-secundario, 10%);
}
