label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

fieldset {
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: $color-negro;
    background: $color-blanco;
    border: 1px solid $color-form-border;
    border-radius: 5px;
    display: block;
    padding: .5rem;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: $color-negro;
    border-color: $color-form-focus;
}

select {
    border: 1px solid $color-form-border;
    border-radius: 6px;
    max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    font-weight: normal;
}

button,
input[type="button"],
input[type="submit"] {
    background: $color-primario;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: $color-blanco;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    padding: 1rem 2rem;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: darken($color-primario, 10%);
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    color: $color-form-focus;
    font-family: $fuente-textos;
}

:-moz-placeholder {
    color: $color-form-focus;
    font-family: $fuente-textos;
}

::-moz-placeholder {
    color: $color-form-focus;
    font-family: $fuente-textos;
    opacity: 1;
    /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
    color: $color-form-focus;
    font-family: $fuente-textos;
}