/* - Menu principal
===========================================*/

.hamburguesa {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.hamburguesa span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.hamburguesa span:nth-child(2) {
    top: pxrem(8);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.hamburguesa span:nth-child(3) {
    top: pxrem(16);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.hamburguesa.animacion span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: pxrem(3);
    left: pxrem(5);
}

.hamburguesa.animacion span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.hamburguesa.animacion span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: pxrem(20);
    left: pxrem(5);
}

.hamburguesa span {
    display: block;
    position: absolute;
    height: pxrem(4);
    width: 100%;
    background: $color-negro;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburguesa {
    width: pxrem(24);
    height: pxrem(24);
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/* Estructura principal */
.menu-principal {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100%;
}

.menu-principal.mostrar {
    max-height: pxrem(2000);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

/* Primer nivel */
.menu-principal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-principal ul li {
    background: $color-fondo-menu;
    position: relative;
    margin-bottom: 0;
}

.menu-principal ul li a {
    color: $color-text-menu;
    display: block;
    font-family: $fuente-titulos;
    font-size: 0.875rem;
    padding: 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-principal ul li.menu-item-has-children .btn-mostrar {
    color: $color-text-menu;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 0.5rem;
    padding: 1rem 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    width: pxrem(45);
    z-index: 99;
}

.menu-principal ul li.menu-item-has-children .btn-mostrar.rotar {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

/* Segundo nivel */
.menu-principal ul.sub-menu {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: max-height .5s;
    -o-transition: max-height .5s;
    transition: max-height .5s;
}

.menu-principal ul.sub-menu.mostrar {
    max-height: pxrem(600);
    -webkit-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
}

.menu-principal ul.sub-menu li {
    background: darken($color-fondo-menu, 10%);;
}

/* MENU TERCER NIVEL */
.menu-principal ul.sub-menu ul.sub-menu li {
    background: darken($color-fondo-menu, 10%);
}

@include desktop {

    /* MENU PRINCIPAL */
    .menu-principal {
        max-height: initial;
        overflow: visible;
        width: initial;
    }

    /* MENU PRIMER NIVEL */
    .menu-principal ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-principal ul li {
        background: none;
        display: inline-block;
        margin-right: 1.5rem;
    }

    .menu-principal ul li:last-child {
        margin-right: 0;
    }

    .menu-principal ul li a {
        color: $color-negro;
        display: block;
        font-weight: 600;
        padding: 0;
        -webkit-transition: padding .2s, color .2s;
        -o-transition: padding .2s, color .2s;
        transition: padding .2s, color .2s;
    }

    .menu-principal ul li a:hover,
    .menu-principal ul li.current_page_item a {
        color: $color-fondo-menu;
    }

    .menu-principal .menu-item-has-children>a::after {
        content: '\f078';
        font-family: "Font Awesome 5 Free";
        font-size: .8rem;
        margin-left: 0.5rem;
    }

    .menu-principal ul li.menu-item-has-children .btn-mostrar {
        display: none;
    }

    /* MENU SEGUNDO NIVEL */
    .menu-principal ul.sub-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        left: 0;
        opacity: 0;
        overflow: visible;
        position: absolute;
        top: 100%;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
        visibility: hidden;
    }

    .menu-principal ul.sub-menu li {
        margin: 0;
        white-space: nowrap;
        background: $color-fondo-menu;
        -webkit-transition: background .2s;
        -o-transition: background .2s;
        transition: background .2s;
    }

    .menu-principal ul.sub-menu li:hover {
        background: darken($color-fondo-menu, 10%);;
    }

    .menu-principal ul.sub-menu li a {
        display: block;
        color: $color-text-menu;
        padding: .75rem 1rem;
        text-align: left;
    }

    .menu-principal .menu-item-has-children:hover>ul.sub-menu {
        opacity: 1;
        visibility: visible;
    }

    .menu-principal .menu-item-has-children:hover>ul.sub-menu.mostrar {
        visibility: visible;
    }

    /* MENU TERCER NIVEL */
    .menu-principal .menu-item-has-children .menu-item-has-children>a::after {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        margin-left: 0.5rem;
    }

    .menu-principal ul.sub-menu ul.sub-menu {
        top: 0;
        left: 100%;
    }

    .menu-principal ul.sub-menu ul.sub-menu li {
        background: darken($color-fondo-menu, 10%);;
        -webkit-transition: background .2s;
        -o-transition: background .2s;
        transition: background .2s;
    }

    .menu-principal ul.sub-menu ul.sub-menu li:hover {
        background: darken($color-fondo-menu, 20%);
    }
}