* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: $color-primario;
    color: $color-blanco;
}

::selection {
    background: $color-primario;
    color: $color-blanco;
}

:focus {
    outline: none;
}