body,
button,
input,
select,
textarea {
    color: $color-negro;
    font-family: $fuente-textos;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fuente-titulos;
    font-weight: 600;
    line-height: 1.2;
    margin: 1rem 0 ;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -1px;
}

p {
    margin: 1rem 0;
    word-break: break-word;
    line-height: 1.5;
}

b,
strong {
    font-weight: 600;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

a {
    color: $color-primario;
    text-decoration: underline;
}

a:hover {
    color: $color-primario;
    text-decoration: none;
}

blockquote {
    border-left: 4px solid $color-primario;
    color: #666;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.6;
    padding: 0.5rem 1rem;
}

blockquote {
    quotes: """";
}

q {
    quotes: "“""”""‘""’";
}