/*COLORES DEL TEMA
====================================================*/
//Color principal
$color-primario:#00cad5;
//Color alternativo
$color-secundario:#0baab3;

//Color negro para fuentes y demás detallens negros
$color-negro:#222;
//Color blanco para fondo y textos de botones
$color-blanco:#fff;

//Color de fondo para los comentarios
$color-fondo-comentario:#f5f5f5;
//Color de fondo para los comentarios hijos
$color-fondo-com-child:$color-blanco;

//Color textos menú
$color-text-menu: $color-blanco;
//Color fondo menú
$color-fondo-menu: $color-primario;

//Color de bordes de formulario
$color-form-border: #666;
//Color de los placeholder y focus de los formularios
$color-form-focus: #333;

//Color border tablas TH
$color-tabla-th:#666;
//Color border TR
$color-tabla-tr:#eee;

/*FUENTES
====================================================*/
//Fuente para los textos de la web
$fuente-textos:"Open Sans", sans-serif;
//Fuente para los titulos y botones
$fuente-titulos:"Montserrat", sans-serif;

/*BREAK POINTS RESPONSIVE
====================================================*/
//Break point para tablet
$tablet-width: pxem(800);
//Break point para desktop
$desktop-width: pxem(1024);

/* TAMAÑOS EDITABLES
====================================================*/
//Alto del logo que va en la cabecera
$alto-logo: pxrem(35);

//Ancho máximo del contenedor .max
$ancho-max: pxrem(1232);